
@model IEnumerable<Cstieg.Sales.Models.Product>

@{
    ViewData["Title"] = "Order";
}

<h2>Order</h2>

@section BreadCrumbs
{
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item">Deerfly Patches</a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/Order" itemprop="item">Products</a>
            <meta itemprop="position" content="2" />
        </li>
    </ul>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @Html.Partial("_ProductPartial", item)
        }

        <article class="col-xs-12 col-sm-4 col-md-3 col-lg-3 product-item">
            <div class="image-wrapper">
                <img class="product-image" alt="Retail display carton image"
                     src="~/content/images/20170914142128-Deerfly_Patches_Retail-w200.png"
                     srcset="~/content/images/20170914142128-Deerfly_Patches_Retail-w800.png 800w,
                                 ~/content/images/20170914142128-Deerfly_Patches_Retail-w400.png 400w,
                                 ~/content/images/20170914142128-Deerfly_Patches_Retail-w200.png 200w,
                                 ~/content/images/20170914142128-Deerfly_Patches_Retail-w100.png 100w"
                     sizes="200px" />
            </div>
            <p class="product-description">
                Retailers and distributors please contact us for wholesale pricing.
            </p>
            <p class="larger-text">
                <a href="callto:12318322323">(231) 832-2323</a>
            </p>
            <p class="larger-text">
                <address><a href="mailto:stieg_d@yahoo.com">stieg_d@yahoo.com</a></address>
            </p>
        </article>

    </div>
</div>